<h1>Edit Question</h1>

<hr>

<%= form_tag "/questions/#{@question.id}", method: :patch do %>
  <div class="form-group">
    Title: 

    <%= text_area_tag :title, nil, :class => "form-control" %>
  </div>
  <div>
    Question: <input type="text", name="problem", value="<%= @question.problem %>">
  </div>
  <div>
    Posted by: <input type="text", name="posted_by", value="<%= @question.posted_by %>">
  </div>
  <div>
    <input type="submit", value="Update Question">
  </div>

<% end %>





  <div class="form-group">
  Enter a suggested solution:
    <%= text_area_tag :suggestion, nil, :class => "form-control" %>
  </div>

