<%= form_tag "/questions/#{@question.id}", method: :patch do %>
  <div>
    <%= label_tag :title, "Question Title:" %>
    <%= text_area_tag :title, @question.title, :class => "form-control" %>
  </div>
  <br>
  <div>
    <%= label_tag :problem, "Question:" %>
    <%= text_area_tag :problem, @question.problem, :class => "form-control" %>
  </div> 
  <br>
  <div>
    <%= label_tag :status, "Status: " %>
    <br>
    <%= select_tag :status, options_for_select([
                                                "Open",
                                                "Answered"
                                                ],
                                                @question.status
                                                ) %>
  </div>
  <br>
  <div>
    <%= label_tag :resolution, "Resolution: " %>
    <%= text_area_tag :resolution, @question.resolution, :class => "form-control" %>
  </div> 
  <br>
  <div class="form-group">
    <%= submit_tag "Update Question", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>