<div class="row"> 
  <% @questions.each do |question| %>
    <div class="thumbnail well">        
      <h4><a href="/questions/<%= question.id %>"><%= question.title %></a></h4>
      <h5><%= question.problem %></h5>
      <p>Status: <%= question.status %> </p>
      <p>Posted by: <%= question.posted_by %></p>
      <p>Number of Suggestions:<%=  %></p>
    </div>
  <% end %>
</div>