<hr>
<h1>New Question</h1>
<hr>

<%= form_tag "/questions", method: :post do %>
  <div class="form-group">
    <%= label_tag :title, "Question Title:" %>
    <%= text_area_tag :title, nil, :class => "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag :title, "Question:" %>
    <%= text_area_tag :problem, nil, :class => "form-control" %>
  </div>
  <br>
  <div>
    <%= label_tag :status, "Assign Status: " %><br>
    <%= select_tag :status, options_for_select([
                                                "Open",
                                                "Answered"],
                                                @question.status) %>
  </div>
  <br>
  <div class="form-group">
    <%= submit_tag "Submit your Question", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>


