<h2>Question Title: <%= @question.title %></h2>
<h4>Question: <%= @question.problem %></h4>
<h4>Status: <%= @question.status %> </h4>
<p>Posted by: <%= @question.posted_by %></p>

<%= link_to "Edit", "/questions/#{@question.id}/edit" %>
<%= link_to "Delete", "/questions/#{@question.id}", method: :delete %>

<hr>

<%= link_to "Submit a Solution", "/answers/new" %>
