<h2>Question Title: <%= @question.title %></h2>
<h4>Question: <%= @question.problem %></h4>
<h4>Status: <%= @question.status %> </h4>
<p>Posted by: <%= @question.posted_by %></p>

<%= link_to "Edit", "/questions/#{@question.id}/edit", class: 'btn btn-warning' %>
<%= link_to "Delete", "/questions/#{@question.id}", method: :delete, class: 'btn btn-danger' %>

<hr>

<%=  form_tag "/answers", method: :post do %>
  <div class="form-group">
    Submit a Suggestion
    <%= text_area_tag :solution, nil, :class => "form-control" %>
  </div>
  <%= hidden_field_tag :question_id, @question.id, :class => "form-control" %>
  <div class="form-group">
    <%= submit_tag "Submit your Suggestion", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>

<hr>

<h3>All Suggestions</h3>

  <% @question.answers.each do |answer| %>
    <h4>Suggestion: <%= answer.solution %></h4>
    <p>Posted by: <%= answer.posted_by %></p>
  <% end %>

