<hr>
<h3>Question</h3>
<hr>

<h4><%= @question.title %></h4>
<h5><%= @question.problem %></h5>
<p>Status: <%= @question.status %> </p>
<p>Posted by: <%= @question.posted_by %></p>
<% if current_user.id == @question.user.id %> 
  <%= link_to "Edit", "/questions/#{@question.id}/edit", class: 'btn btn-sm btn-warning' %>
  <%= link_to "Delete", "/questions/#{@question.id}", method: :delete, class: 'btn btn-sm btn-danger' %>
<% end %>

<% if current_user %> 
  <hr>
  <h3>Suggest a Solution</h3>
  <hr>

  <%=  form_tag "/answers", method: :post do %>
    <div class="form-group">
      <%= text_area_tag :solution, nil, :class => "form-control", :placeholder => "Enter your awesome suggestion here." %>
    </div>
    <%= hidden_field_tag :question_id, @question.id, :class => "form-control" %>
    <div class="form-group">
      <%= submit_tag "Submit your Suggestion", :class => "btn btn-sm btn-success" %>
    </div>
  <% end %>
<% end %>

<hr>
<h3>All Suggestions</h3>
<hr>

  <% @question.answers.each do |answer| %>
    <h5><%= answer.solution %></h5>
    <p>Posted by: <%= answer.posted_by %></p>

    <% if current_user.id == answer.posted_by %> 
      <%= link_to "Edit", "/answers/#{answer.id}/edit", :class  => 'btn btn-sm btn-warning' %>
      <%= link_to "Delete", "/answers/answer.id", method: :delete, :class => 'btn btn-sm btn-danger' %>
    <% end %>
  <% end %>

