<h2>Title: <%= @question.title %></h2>
<h2>Question: <%= @question.problem %></h2>
<h3>Posted_by: <%= @question.posted_by %></h3>

<%= link_to "Edit", "/questions/#{@question.id}/edit" %>
<%= link_to "Delete", "/questions/#{@question.id}", method: :delete %>