<h2>Question Title: <%= @question.title %></h2>
<h4>Question: <%= @question.problem %></h4>
<h4>Status: <%= @question.status %> </h4>
<p>Posted by: <%= @question.posted_by %></p>

<%= link_to "Edit", "/questions/#{@question.id}/edit" %>
<%= link_to "Delete", "/questions/#{@question.id}", method: :delete %>

<hr>

<%= link_to "Submit a Solution", "/answers/new" %>

<hr>

<%=  form_tag "/questions/#{@question.id}", method: :patch do %>
  <div class="form-group">
    Suggestion
    <%= text_area_tag :solution, nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Submit", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Suggestion</th>
  </tr>
  <% @question.answers.each do |answer| %>
  <tr>
    <td><%= answer.solution %></td>
    
  </tr>
  <% end %>
</table>
