<% @user.errors.full_messages.each do |error| %>
  <p> <%= error %> </p>
<% end %>

<hr>
<h3>Sign Up Here</h3>
<hr>

<%= form_tag "/users", method: :post do %>
  <div>
    <span class="text-danger"> * </span>
    <%= label_tag :name, "Name:" %>
    <%= text_field_tag :name, @user.name, :class => "form-control" %>   
  </div>
  <br>
  <div>
    <span class="text-danger"> * </span>
    <%= label_tag :email, "Email:" %>
    <%= email_field_tag :email, @user.email, :class => "form-control" %>
  </div>
  <br>
  <div>
    <span class="text-danger"> * </span>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password, nil, :class => "form-control" %>
  </div>
  <br>
  <div>
    <span class="text-danger"> * </span>
    <%= label_tag :password_confirmation, "Re-Enter your Password:" %>
    <%= password_field_tag :password_confirmation, nil, :class => "form-control"  %>
  </div>
  <br>
  <%= submit_tag 'Sign Me Up!', :class => "btn btn-sm btn-success"  %>
<% end %>